.message__att{
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -15px;
    margin-bottom: 15px;
    width: calc(100% + 36px);
    height: auto;
    position: relative;
}

.message__att .cat-list{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.message__att .cat-list span::after{
    content: ', ';
}

.message__att .cat-list span:last-child::after{
    content: '';
}

.message__att .img-list div{
    max-width: 100%;
    height: 283px;
}

.message__att .img-list div:first-child{
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    width: 100%;
}

.img-list>div:nth-child(n+2) {
    max-width: 50%;
  }

@media screen and (max-width: 530px){
    .message__att{
        margin-left: -11px;
        margin-right: -11px;
        margin-top: -8px;
        margin-bottom: 10px;
        width: calc(100% + 22px);
    }
}
