@import "./__header/sidebar__header.css";
@import "./__container/sidebar__container.css";
@import "./__item/sidebar__item.css";

.sidebar{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #fff;
    max-width: 542px;
    height: 100%;
    border-left: 1px solid #E0E0E0;
}