@import "./_a/message__container_a.css";
@import "./_d/message__container_d.css";
@import "./_g/message__container_g.css";
@import "./_k/message__container_k.css";


.message__container {
    display: flex;
    align-items: flex-start; 
    max-width: 710px;
    margin-bottom: 40px;
    animation: showMessage 1s;
}

@media screen and (max-width: 530px){
    .message__container {
        margin-bottom: 30px;
    }
}

@keyframes showMessage {
    from {opacity: 0;} to {opacity: 1;}
}