.message__container_a {
    
}


.message__container_a .message__text-container::before{
    border-right: 10px solid #2F80ED;
    border-left: 0 solid #2F80ED;
} 

.message__container_a .message__text a{
    color: #fff;
}