@import "../vendor/fonts.css";
@import "../blocks/header/header.css";
@import "../blocks/button/button.css";
@import "../blocks/container/container.css";
@import "../blocks/main-window/main-window.css";
@import "../blocks/text-create-chat/text-create-chat.css";
@import "../blocks/message/message.css";
@import "../blocks/page-title/page-title.css";
@import "../blocks/filter/filter.css";
@import "../blocks/sidebar/sidebar.css";
@import "../blocks/rick/rick.css";
@import "../blocks/contact/contact.css";
@import "../blocks/footer/footer.css";


html, body{
  font-family: 'Gilroy', Helvetica, Arial sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FFFFFF;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

b{
  font-weight: bold;
}

a.blue{
  color: #2F80ED;
}

input, textarea{
  font-family: Gilroy;
  font-size: 21px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea{
  resize: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: #BDBDBD;
  font-weight: 500;
  font-size: 21px;
}

@media screen and (max-width: 530px){
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
    font-size: 16px;
  }
}