.message__text {
    color: #ffffff;
    line-height: 26px; 
    font-weight: 500;
    font-size: 16px;
}

@media screen and (max-width: 530px){
    .message__text{
        font-size: 14px;
        line-height: 21px;
    }
}

.message__text a{
    opacity: 1;
    transition: 0.3s;
}

.message__text a:hover{
    opacity: 0.6;
}