.message__text-wrapper{
    display: block;
    flex-direction: column;
    max-width: 610px;
}

.message__text-wrapper>.message__text-container:nth-child(1){
    margin-bottom: 19px;
}

@media screen and (max-width: 530px){
    .message__text-wrapper>.message__text-container:nth-child(1){
        margin-bottom: 15px;
    }
}

.message__text-wrapper .message__text-container::before{
    content: none;
}

.message__text-wrapper .message__text-container::after{
    content: none;
}

.message__text-wrapper .message__text-container:first-child::before{
    content: " ";
}  

.message__text-wrapper .message__text-container:first-child::after{
    content: " ";
}  
